**/node_modules/
**/__pycache__
*.idea
plugins/prolint/server/dist/
build/**/*
build-*/**/*
build_*/**/*
cmake-build-*/**/*
bin/**/*
include/**/*
external/**/*
share/**/*
stage/**/*
lib/**/*
issues/**/*
mmprjs/**/*
.vscode/ipch/**/*
configurator/.vs/
configurator/bin/
configurator/MegaMolConf/obj/
configurator/packages/
configurator/MegaMolConf/Properties/AssemblyInfo\.cs
configurator/MegaMolConf/Resources/mmconfig\.res
*.vscode
.idea/**/*
.gitmodules
*.orig
utils/MMPLD/mmpld.bat
utils/MMPLD/mmpld.reg
utils/MMPLD/test*.mmpld
utils/MMPLD/test*.lua
utils/MMPLD/test*.png
utils/MMPLD/SphereTest.bat
examples/
solution/**/*
deploy/**/*
*.log
tmp_plipInstall

plugins/prolint/checkmol.exe
plugins/prolint/InVADo_setup/
plugins/prolint/server/geckodriver.exe
plugins/prolint/checkmol_linux
plugins/prolint/server/testData
geckodriver.log
plugins/prolint/server/vue_app/InVADo_setup/
plugins/prolint/server/geckodriver.zip
